body{
    background:url("img/Foto-\ capa.jpg");
    background-size:cover;
    position: relative;  
}

.start{
    background-color: black;
    text-align: right;
    padding: 8px;
}


.container-photo img{
    width: 200px;
    height: 200px;
    border: 4px solid rgb(252, 252, 252);
    margin-left: auto;
    margin-right: auto;    
}

.card img {
    flex-direction: center;
    width: 40px;
    height: 40px;
}