body{
    background-color: teal;
}

.start{
    background-color: black;
    text-align: right;
    padding: 8px;
}

.container{
    background-color: whitesmoke;
    text-align: right;
    padding: 27px;
    text-align: center;

}
}