* {
    padding: 0;
    margin: 0;

    font-family: sans-serif;
 
    text-decoration: none;
}


body {

    background-color: #eeeeee;
    background-repeat: no-repeat;
    background: url("img/pexels-aleksandar-pasaric-1694000.jpg");
    background-size: cover;
    color: rgb(0, 0, 0);
}


.start {
    background-color: white;
    text-align: right;
    padding: 8px;
    margin-top: auto;
   

}





.menu {
    word-spacing: 40px;
    margin-left: auto;
    color: white;
}




a:hover {
    text-decoration: underline;
    color: rgb(250, 104, 153);
    text-decoration: none;
}


.module {
    margin-left: auto;

}

#content {
    display: flex;
    align-items: center;
    font-size: 25px;
   
    justify-content: space-between;
}

#content a {
    color: white;
}


.about {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 60px;
    font-size: 25px;
}

.card2 {
    width: 10px;
    height: 10px;
}

h3.about {
    display: flex;
    align-items: center;
    justify-content: center;
}


.photo img {
    width: 250px;
    height: 250px;
    border-radius: 30%;

    border-style: solid;
    border-color: dimgrey;
}

.card-one {
    margin-bottom: 10%;
    margin-left: 25%;
}



#block {
    height: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.block-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    width: 400px;
    height: 550px;

    border-color: black;

    border-radius: 15%;
    border-style: solid;
    border-color: dimgrey;
    margin-top: 25px;
    background-color: white;
}

.block-rigth {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    background-color: white;

    padding-left: 4px;
    width: 400px;
    height: 550px;
    float: left;

    border-radius: 5%;
    border-style: solid;
    border-color: dimgrey;

    margin-top: 25px;
    margin-left: 15px;
    text-align: center;


}

@media screen and (max-width: 700px) {
    .block-rigth {
        font-size: 13px;
    }
}


.icons-two {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}







.container-photo img {
    width: 400px;
    height: 200px;
    border: 4px solid white;
    margin-left: auto;
    margin-right: auto;
}




.card img {

    width: 40px;
    height: 40px;


}

.inicio {
    margin-top: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    
}


.container-about0 {

    margin-top: 50%;
    font-size: 25px;
    text-align: center;
    color: black;

}

.about-me {
    width: 70%;
    margin-top: 3%;
    margin-left: 15%;
    font-size: 17px;
    text-align: center;
    color: black;
    border: black;
    background-color: white;

    border: 2px solid rgb(143, 143, 143);
    text-align: center;

    border-radius: 10%;
    padding: 3%;
}

.portfolio-pg img {
    width: 600px;
    height: 400px;
}

.number1 {

    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;


    border: 2px solid rgb(143, 143, 143);
    text-align: center;
    border-radius: 10%;

    background-color: white;

}

@media screen and (max-width: 700px) {
    .number1 {
        width: 300px;
    }

    .portfolio-pg img {
        width: 200px;
        height: 100px;
    }
}


.number2 {

    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;


    border: 2px solid rgb(143, 143, 143);
    text-align: center;

    border-radius: 10%;
    background-color: white;

}

.number3 {

    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 5%;


    border: 2px solid rgb(143, 143, 143);
    text-align: center;
    border-radius: 10%;
    background-color: white;

}

.block-left-contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    background-color: white;

    margin-top: 2%;
    border-radius: 5%;
    border-style: solid;
    border-color: dimgrey;
    border-radius: 5%;
    padding: 2%;

}

.contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    width: 400px;
    height: 550px;
    float: left;
    border-color: black;

    border-radius: 15%;
    border-style: solid;
    border-color: dimgrey;
    margin-top: 25px;
    background-color: white;
}

.contatos-about1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main a{
    color: white;
}




.fim {

    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(247, 247, 247);
    text-align: center;
    padding-top: 50%;
}

@media screen and (max-width: 700px) {
    .fim {
        padding-top: 10%;
        text-align: center;
        bottom: 0;
    }
}

footer {
    padding-top: 10%;
    text-align: center;
    bottom: 0;
}